<div class="container border border-secondary center">
  <form [formGroup]="myForm">
    <div class="text-center">Total Operation:{{ opCount }}</div
    ><br />
    <div class="row justify-content-center align-items-center ">
      <div class="col-3">
        <!-- <label for="input1">Input 1:</label> -->
        <input
          type="text"
          id="input1"
          formControlName="input1"
          class="form-control"
        />
        <div *ngIf="myForm.get('input1')?.hasError('required')">
          Input is required
        </div>
        <div *ngIf="myForm.get('input1')?.hasError('pattern')">
          Only numbers are allowed
        </div>
      </div>

      <div class="col-1">
        <span>{{ opSign }}</span>
      </div>
      <div class="col-3">
        <!-- <label for="input2">Input 2:</label> -->
        <input
          type="text"
          id="input2"
          formControlName="input2"
          class="form-control"
        />
        <div *ngIf="myForm.get('input2')?.hasError('required')">
          Input is required
        </div>
        <div *ngIf="myForm.get('input2')?.hasError('pattern')">
          Only numbers are allowed
        </div>
      </div>
    </div>
    <br><br>
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-circle btn-secondary" (click)="addFun()">+</button>&nbsp;
        <button class="btn btn-circle btn-secondary" (click)="subFun()">-</button>&nbsp;
        <button class="btn btn-circle btn-secondary" (click)="mulFun()">*</button>&nbsp;
        <button class="btn btn-circle btn-secondary" (click)="divFun()">/</button>&nbsp;
      </div>
      <br><br>
      <div class="d-flex justify-content-center align-items-center">
      <button (click)="reset()">reset</button>&nbsp;&nbsp;
      <div>Answer:
      <div *ngIf="result != 0">{{ result }}</div>
    </div>
    </div>


  </form>
  <!-- <button (click)="addFun()">+</button>
  <button (click)="subFun()">-</button>
  <button (click)="mulFun()">*</button>
  <button (click)="divFun()">/</button> -->
  <br />
  <!-- <span *ngIf="result != 0">{{ result }}</span>
  <br />
  <button (click)="reset()">reset</button> -->
  <!-- <form [formGroup]="myForm">
    <ng-container *ngFor="let inpu of ['input1', 'input2']; let i = index">
      <label for="{{ inpu }}">Input {{ i + 1 }}:</label>
      <input
        type="text"
        id="{{ inpu }}"
        [formControlName]="inpu"
      >
      <div *ngIf="myForm.get(inpu)?.touched" class="error-message">
        Input is required
      </div>
      <div *ngIf="myForm.get(inpu)?.hasError('pattern')" class="error-message">
        Only numbers are allowed
      </div>
    </ng-container>
  </form> -->
</div>
<router-outlet></router-outlet>
